.App {
   max-width: 800px;
   margin: 60px auto;
 }
 
 .App footer {
   font-size: 11px;
   margin: 10px 0;
 }

body {
  background: #f9f7fe;
}

footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

footer a {
  color: #885df1;
}