body {
  background-color: rgb(171, 171, 173);
   font-family: "Oswald", sans-serif;
}

.bodyImg {
   background-repeat: no-repeat;
   background-size: cover;
   background-color: black;
}

a {
   color: #885df1;
}
